* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 130vh;
	width: 100vw;
	font-size: 16px; 
	font-family: Arial, sans-serif; 
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
}

 .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    background-color: beige;
    padding-left: 10px;
    grid-column: 1 / 2;
    font-size: 2em;
    display: grid;
    grid-template-rows: 50px 300px 150px;
    gap: 50px;
}

.side_top {
    padding-top: 20px;
}

.side_top, .side_mid, .side_bot{
    display: grid;
    grid-auto-rows: 30px;
    row-gap: 20px;
}

.side_top > div {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 50px;
    font-size: 35px;
}

.side_mid > div, .side_bot > div{
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 30px;
    font-size: 25px;
}

.right {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 250px 1fr;
}

.header {
    background-color: lightblue;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.navbar {
    padding-top: 30px;
    padding-left: 10px;
    max-width: 100%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 60px;
    align-items: center;
}

.navbar_left > input {
    align-self: center;
    height: 35px;
    border-radius: 15px;
    max-width: 800px;
    border: 0px;
}

.navbar_right > img {
    border-radius: 50px;
}

.navbar_left {
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-rows: 60px;
    align-items: center;
    gap: 30px
}

.navbar_right {
    display: grid;
    grid-template-columns: 60px 60px 180px;
    grid-template-rows: 60px;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navbar_right > div {
    font-weight: bold;
    font-size: 20px;
}

.username{
    align-self: center;
}

.menu {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 100px;
}

.menu_left {
    padding-left: 40px;
    display: grid;
    grid-template-columns: 90px 1fr;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: center;
    gap :20px
}

.menu_left > img {
    border-radius: 90px;
}

.menu_left > div {
    font-weight: bold;
}

.greetings {
    font-size: 12px;
    padding-bottom: 10px;
}

.user {
    font-size: 20px;
}

.menu_right {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 100px;
    align-items: center;
    justify-content: end;
}

.menu_right > button {
    background-color: lightgreen;
    height: 50px;
    width: 150px;
    border-radius: 45px;
    border: 0px;
    font-size: 20px;
}

.main {
    background-color: azure;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.project_container {
    padding: 20px;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.main_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-auto-rows: 300px
}

.project {
    background-color: lightyellow;
    display: grid;
    grid-template-rows: 1fr 50px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-left: 10px solid black;
}

.project_title, .announcement_title, .trending_title {
    font-weight: bold;
    font-size: 30px;
    justify-content: center;
    align-self: center;
}

.project_buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

.project_buttons > img {
    margin: 10px;
}

.content {
    padding: 30px;
    align-self: center;
}

.rightbar {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.announcements {
    padding: 20px;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.announcement_body {
    border-radius: 15px;
    background-color: lightyellow;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.article, .article3 {
    padding: 20px;
    position: relative;
}

.article:after {
    content: '';
    display: block;
    width: 80%;
    position: absolute;
    bottom: -5px;
    border: 2px solid gray;
    border-radius: 3px;
}

.trending {
    padding: 20px;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.user_grid {
    background-color: lightyellow;
    display: grid;
    grid-template-rows: repeat(4, 100px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.user {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.user > img {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}